<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
	对于namespace写法：如果是MappInterface方式那么需要制定Interface的全路径(报名.接口名)
	度过不是的话可以制定为Model的全路径（包名.类名；因为后面使用XX.class.getName比较方便）
 -->
<mapper namespace="com.genty.Mapper.UserMapper">
	<!-- 根据id查询得到user对象 -->
	
	<select id="selectUserByid" parameterType="int" resultType="User">
			select id,name from users where id=#{id}
	</select>
	
	<select id="selectUserByname" parameterType="String" resultType="User">
			select * from users where username=#{username}
	</select>
</mapper>